<header>
<div class="container">
    <a href="#" routerLink="/" class="logo">RP ☺ Food Corner</a>
    <nav>
        
        <ul>
           
            <li>
                <!-- <a href="#" routerLink="/login">Login</a> -->
                <!-- <div class="welcome-message">
                    <p *ngIf="username">Welcome, {{ username }}!</p>
                  </div> -->
                <!-- <a href="#" routerLink="/signup">SignUp</a> -->
               
                <a *ngIf="!LoginCred.isLoggedIn()" routerLink="/signup">Login</a>
               
  <!-- Show Logout button and username when user IS logged in -->

    <a *ngIf="LoginCred.isLoggedIn()">{{ LoginCred.getUser()?.username }}!</a>
    <a *ngIf="LoginCred.isLoggedIn()"(click)="onLogout()">Logout</a>
 
  <a href="#" routerLink="/cart-page">Cart
    <span>{{totalItemCount}}</span>
</a>  
            </li>
        </ul>
    </nav>
</div>

</header>
