<!DOCTYPE html>
<html>
<!-- <head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head> -->
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form #signupForm="ngForm">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.userName"  #userNameInput="ngModel"
					required>
<div *ngIf="userNameInput.invalid && userNameInput.touched">
	<span *ngIf="userNameInput.errors?.['required']" class="errorUser">User name is required.</span>
  </div>
					
				  
					
				  
					<input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email" #emailInput="ngModel"
					required
					customEmailValidator
>
					<div *ngIf="emailInput.invalid && emailInput.touched">
						<span *ngIf="emailInput.errors?.['required']" class="errorEmail">Email is required.</span>
						<span  *ngIf="!emailInput.errors?.['required'] && emailInput.errors?.['invalidEmail']" class="errorEmail">Please enter a valid email address.</span>
					  </div>
					<input type="password" name="pswd" placeholder="Password" [(ngModel)]="signupObj.password"
					 #passwordInput="ngModel"  required
minlength="6"
      
					>
					
					 
					  <div *ngIf="passwordInput.invalid && passwordInput.touched">
						<span *ngIf="passwordInput.errors?.['required']" class="errorPassword">Password is required.</span>
						<span *ngIf="passwordInput.errors?.['minlength']" class="errorPassword">
						  Password must be at least 6 characters long.
						</span>
					  </div>
					 
					<button (click)="onSignUp(signupForm)">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="userName" placeholder="Email" [(ngModel)]="loginObj.userName">
					<input type="password" name="password" placeholder="Password" [(ngModel)]="loginObj.password">
					<button (click)="LoginPage()">Login</button>
                    <div class="error">{{ errorMsg }}</div>
				</form>
			</div>
	</div>
</body>
</html>