
<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!foods || foods.length <= 0" resetLinkText="Reset Search"></app-not-found>

<ul>
    <li *ngFor="let food of foods">
        <a routerLink="/food/{{food.id}}">
            <img src="{{food.imageUrl}}" alt="food images"> 
            <div class="content">
                <div class="name">
                    {{food.name}}
                </div>
               <span class="favorite {{food.favorite?'':'not'}}">♥</span>
               <star-rating 
               [value]="food.star" 
               [totalstars]="5" 
               checkedcolor="red" uncheckedcolor="black" 
               size="24px" [readonly]="true" >
            </star-rating>
<div class="product-item-footer">
  <div class="origins">
    <span *ngFor="let origin of food.origins">{{origin}}</span>
    
  </div>
  <div class="cook-time">
    <span>🕑</span>
    {{food.cookTime}}
        
  </div>
 
</div>
<div class="price">
    {{food.price | currency}}
   </div>

            </div>
        </a>
    

<!-- Feedback Section -->
<!-- <div class="feedback-section">
    <h4>Feedback</h4>
    <form (ngSubmit)="submitFeedback(food)">
        <label for="rating-{{food.id}}">Rating (1-5):</label>
        <input type="number" id="rating-{{food.id}}" name="rating" [(ngModel)]="newFeedback.rating" required min="1" max="5">
        <br>
        <label for="comment-{{food.id}}">Comment:</label>
        <textarea id="comment-{{food.id}}" name="comment" [(ngModel)]="newFeedback.comment" required></textarea>
        <br>
        <button type="submit">Submit Feedback</button>
    </form>
    <div>
        <h5>Feedback Received</h5>
        <ul>
            <li *ngFor="let feedback of food.feedbacks">
                <strong>Rating:</strong> {{feedback.rating}} <br>
                <strong>Comment:</strong> {{feedback.comment}}
            </li>
        </ul>
    </div>
</div> -->


    </li>
</ul>
